# XSCAN BACKEND ENVIRONMENT CONFIGURATION
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:3001
MONGODB_URI=mongodb://localhost:27017/xscan
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=xscan170199
JWT_EXPIRES_IN=7d
